@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");

:root {
  --header-bg: #ef0e3d;
  --pokeball-line: #383838;
  --current-score: #ffb5b5;
  --best-score: #b5ffb5;
  --box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: var(--pokeball-line);
}

.App {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--header-bg);
  padding: 16px 0;
}

.header-img {
  width: 45%;
}

.line {
  background-color: var(--pokeball-line);
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 5%;
}
.line > div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: var(--pokeball-line) solid 8px;
}

.line > div > div {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: var(--pokeball-line) solid 6px;
}

.score-board {
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-bottom: 3%;
}

.score-board > div {
  box-shadow: var(--box-shadow);
  padding: 8px 32px;
  border-radius: 45px;
  width: 150px;
}

.current-score {
  background-color: var(--current-score);
}

.best-score {
  background-color: var(--best-score);
}

.cards-container {
  align-self: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: min-content;
  gap: 32px;
  margin-bottom: 2%;
}

.card {
  box-shadow: var(--box-shadow);
  border-radius: 25px;
  width: 150px;
  height: min-content;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.1);
}

.card > img {
  height: 120px;
}
